/*-----------------------------------------------------------------------------
FILE: styles.css
DESC: CSS for SENDConform repository
IN  :
OUT :
REQ : 
 COLORS: 
        Shapes graph   #DDEEBB green
        data           #EEEEBB olive
        report        #EEDDBB brown
        sparq/text     #DDEEFF blue
        syntax fules   #F6F6F6 grey
NOTES: https://gridbyexample.com/examples/example21/  Grid within grid
-----------------------------------------------------------------------------*/
body{
  background-color: #ffffff;
}

/*---------------------------------------------------------------------------*/
/* General Font formatting                                                   */
/*---------------------------------------------------------------------------*/
.available, .labelShape{
  color: #759e27; /* dark green */
  font-weight: bold;
}  
.codeCom{
  color: #759e27;     /* dark green */
}
.development, .omitted{
  font-weight: bold;
  font-style: italic;
}
.emph {
  color: #00008b;     /* dark blue */
  font-weight: bold;
}
.error, .restrict{
  color: #8b0000;     /* dark red */
  font-weight: bold;
}
.error2{
  color: #e67e00;     /* dark orange */
  font-weight: bold;
}
.futureSHACL{  /* not in use as of 2019-08-22 */
  background-color: #9fd041;  /* solid background */
  color: #000000;
  font-family: Arial;
  font-weight: bold;
}
.goodData, .shapeName{
  color: #486118;     /* very dark green */
  font-weight: bold;
  font-family: monospace;
}
.greyedOut{
    color: #9c9c9c;     /* dark grey */
    background-color: #e1e1e1; /* light grey */ 
}  
.infoExtra{
  color: #9c9c9c;     /* dark grey */
  font-weight: bold;
  font-style: italic;
  font-size:1.1em;
}
.infoOmitted{
  color: #4e4e4e;     /* dark grey */
  background-color: #e1e1e1; /* light grey */ 
  font-weight: bold;
  font-style: italic;
  font-size:1.1em;
}
.labelData{
  color: #9e9e27; /* dark olive */
  font-weight: bold;
}
.msg{
  font-style: italic;
  font-weight: bold;
}
.parameter{
  color: #9c9c9c;     /* dark grey */
  font-weight: bold;
  font-style: italic;
  font-size:1.1em;
}
.labelReport{
  color: #c69331; /* dark br/orange */
  font-weight: bold;
}
.literal{
  color: #9c9c9c;     /* dark grey */
  font-weight: bold;
}
.navNext{
  color: #182461; /* dk blue */
  font-weight: bold;
  font-size:1.1em;
}

.nodeBold{
  color: #182461; /* dk blue */
  font-weight: bold;
  font-size:1.1em;
  font-family: monospace;
}

.object{
  color: #182461; /* dk blue */
  font-weight: bold;
}
.objectIRI{
    color: #759e27; /* dark green */
   font-weight: bold;
}
.predicate{
  color:  #c69331;     /*  dk orange */
  font-weight: bold;
}
.subject{
  color: #486118;     /* dark green */
  font-weight: bold;
}

/*---------------------------------------------------------------------------*/
/* Content Descriptions: Box formats                                         */
/*---------------------------------------------------------------------------*/

.rule{
  background-color: #F7F7F7; 
}   

/* data */
.data{
  background-color: #EEEEBB; /* 238,238,187 */
}

pre.data {
  background: #eeb;
}
pre.data,
pre.data:before {
    border: 1px solid #9E9E27;  /* 158,158,39 */
}
pre.data:before {
    color: #9E9E27;
    content: "Data";
    width: 4em;
    font-weight: bold;
}

/* sms */
.sms{
  background-color: #F2F2F2; /* ,, */
}
pre.sms {
  background: #F2F2F2;
}
pre.sms,
pre.sms:before {
    border: 1px solid #808080;  /*,, */
}
pre.sms:before {
    color: #808080;
    content: "SMS";
    width: 4em;
    font-weight: bold;
}

/* owl */
.owl{
  background-color: #F8E4F7;  
} 

pre.owl {
    background: #E4ECF8;  /* #E4ECF8 = 228,236,248 */
}

pre.owl,
pre.owl:before {
    border: 1px solid #417CD0;
}
pre.owl:before {
    color: #417CD0;
    content: "OWL";
    width: 5em;
    font-weight: bold;
}

/* shacl */
.shacl{
  background-color: #DDEEBB;
}  
pre.shacl {
    background: #deb;
}

pre.shacl,
pre.shacl:before {
    border: 1px solid #779E27;
}
pre.shacl:before {
    color: #779E27;
    content: "SHACL";
    width: 5em;
    font-weight: bold;
}

/* report */
pre.report {
    background: #EEDDBB;
}
pre.report,
pre.report:before {
    border: 1px solid #D09F41;   /* border around the report box */
}
pre.report:before {
    color: #D09F41;  /* text color */
    content: "Report";
    width: 5em;
    font-weight: bold;
}

/* sparql */
pre.sparql {
    background: #FAEAEF; /* background of box */
} 
pre.sparql,
pre.sparql:before {
    border: 1px solid #DA7093; /* border around the box. Same as Content Text color*/
}
pre.sparql:before {
    color: #DA7093;  /* text color */
    content: "SPARQL";
    width: 6em;  /* width of the box surrouding the content */
    font-weight: bold;
}

/* queryResult */
pre.queryResult {
    background: #F9F9F9; /* background of box */
} 
pre.queryResult,
pre.queryResult:before {
    border: 1px solid #DA7093; /* border around the box. Same as Content Text color*/
}
pre.queryResult:before {
    color: #DA7093;  /* text color */
    content: "Query Result";
    width: 8em;  /* width of the box surrouding the content */
    font-weight: bold;
}



.code{
  font-family: monospace;
} 
/* for nodes in the Rules (grey) boxes to make it look like "code" within
   pre tags in the rest of the document */
/* DEL ME
.codePre{
  font-family: monospace;
  background: #E7E7E7;
  font-size:95%;
} 
*/

/*---  from Github styles ---------------------------------------------------*/
/* https://gist.github.com/andyferra/2554919  */
table {
  padding: 0; }
  table th {
    background-color: #8ccbf2;
  } 
  table tr {
    border-top: 2px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 2px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 2px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }


/*---------------- FROM SHACL online ----------------*/
.syntax {
    border-left-style: solid;
    border-left-width: .5em;
    border-color: #d0d0d0;
    margin-bottom: 16px;
    padding: .5em 1em;
    background-color: #f6f6f6;
}

.def {
    background: #DDEEFF;
    border-left-style: solid;
    border-left-width: .5em;
    border-color: #8CCBF2;
    margin-bottom: 16px;
    padding: 0.5em;
}
       
.def-sparql {}

.def-sparql-body {
    margin-top: 0px;
    margin-bottom: 0px;
}

.def-text {}

.def-text-body {}

.def-header {
  color: #a0a0a0;
  font-size: 16px;
  padding-bottom: 8px;
}

.ruleState {
    background: #F6F6F6;
    border-left-style: solid;
    border-left-width: .5em;
    border-color: #D0D0D0;
    margin-bottom: 16px;
    padding: 0.5em;
}

.ruleState-header {
  color: #7A7A7A;
  font-size: 16px;
  padding-bottom: 8px;
}


                                            
pre {                                       
    tab-size: 3;                            
    -moz-tab-size: 3;                       
    /* Code for Firefox */                  
    -o-tab-size: 3;                         
}                                           
                                            
pre {                                       
    word-wrap: normal;                      
}                                           
/* example pre taken / adapted from R2RML */
/* and then from www.w3.org/TR/shacl */                                            
pre.shapes,
pre.data,
pre.sms,
pre.owl,
pre.shacl,
pre.report,
pre.sparql,
pre.queryResult,
pre.example-rule, 
pre.example-other {
    margin-left: 0;                         
    padding: 0 2em;                         
    margin-top: 1.5em;                      
    padding: 1em;                           
}                                           

pre.data:before,
pre.sms:before,
pre.owl:before,
pre.shacl:before,
pre.shacl:before,
pre.report:before,
pre.sparql:before,
pre.queryResult:before,
pre.example-rule:before, 
pre.example-other:before {                  
    background: white;                      
    display: block;                         
    font-family: sans-serif;                
    margin: -1em 0 0.4em -1em;              
    padding: 0.2em 1em;                     
}                                           

                                           

/*TW RULE */
pre.example-rule {                          
    background: #bbd5ee;                    
}                                           
pre.example-rule,                           
pre.example-rule:before {                   
    border: 1px solid #5596d5; /* darker blue */
}                                           
                                            
pre.example-rule:before {
    color: #5596d5;
    content: "Rule";
    width: 4em; 
    font-size:1.1em;
    font-weight:bold;
}                                           

/* END RULE */


pre.example-other {                         
    background: #bed;                       
}                                           
                                            
pre.example-other,                          
pre.example-other:before {                  
    border: 1px solid #ddd;                 
}                                           
                                            
pre.example-other:before {                  
    color: #888;                            
    content: "Example";                     
    width: 13em;                            
}                                           




