/*-----------------------------------------------------------------------------
FILE: styles.css
DESC: CSS for SENDConform repository
IN  :
OUT :
REQ : 
 COLORS: 
        Shapes graph   #DDEEBB green
        data           #EEEEBB olive
        report        #EEDDBB brown
        sparq/text     #DDEEFF blue
        syntax fules   #F6F6F6 grey
NOTES: https://gridbyexample.com/examples/example21/  Grid within grid
-----------------------------------------------------------------------------*/
body{
  background-color: #ffffff;
}

.error{
  color: #8b0000;     /* dark red */
  font-weight: bold;
}

.msg{
  font-style: italic;
  font-weight: bold;
}

.error2{
  color: #e67e00;     /* dark orange */
  font-weight: bold;
}

.extraInfo{
  color: #9c9c9c;     /* dark grey */
  font-weight: bold;
  font-style: italic;
  font-size:1.1em;
}

.parameter{
  color: #9c9c9c;     /* dark grey */
  font-weight: bold;
  font-style: italic;
  font-size:1.1em;
}

.codeCom{
  color: #759e27;     /* dark green */
}

.goodData{
  color: #759e27;     /* dark green */
  font-weight: bold;
}

.emph{
  color: #00008b;     /* dark blue */
  font-weight: bold;
}

.labelData{
  color: #9e9e27; /* dark olive */
  font-weight: bold;
}

.labelShape{
  color: #759e27; /* dark green */
  font-weight: bold;
}  

.labelReport{
  color: #c69331; /* dark br/orange */
  font-weight: bold;

}  



.subject{
  color: #486118;     /* dark green */
  font-weight: bold;
  
}
.predicate{
  color:  #c69331;     /*  dk orange */
  font-weight: bold;
}

.object{
  color: #182461; /* dk blue */
  font-weight: bold;
  

}


.objectIRI{
    color: #759e27; /* dark green */
   font-weight: bold;
}

.literal{
  color: #9c9c9c;     /* dark grey */
  font-weight: bold;
}

/* Formatting of boxes 
   Shapes graph   #DDEEBB green
   data           #EEEEBB olive
   report        #EEDDBB brown
   sparql/text     #DDEEFF blue
   syntax rules   #F6F6F6 grey
 NB: Githubpages not recognizing background: for color.  
*/

.rule{
  background-color: #F7F7F7; 
}   

.data{
  background-color: #EEEEBB; 
}

.shacl{
  background-color: #DDEEBB;
}  
/*
.report{
 background-color: #EEDDBB; 
}
*/

.code{
  font-family: courier;
} 

/*---  from Github styles ---------------------------------------------------*/
/* https://gist.github.com/andyferra/2554919  */
table {
  padding: 0; }
  table th {
    background-color: #8ccbf2;
  } 
  table tr {
    border-top: 2px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 2px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 2px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }


/*---------------- FROM SHACL online ----------------*/
.syntax {
    border-left-style: solid;
    border-left-width: .5em;
    border-color: #d0d0d0;
    margin-bottom: 16px;
    padding: .5em 1em;
    background-color: #f6f6f6;
}

.def {
    background: #DDEEFF;
    border-left-style: solid;
    border-left-width: .5em;
    border-color: #8CCBF2;
    margin-bottom: 16px;
    padding: 0.5em;
}
       
.def-sparql {}

.def-sparql-body {
    margin-top: 0px;
    margin-bottom: 0px;
}

.def-text {}

.def-text-body {}

.def-header {
  color: #a0a0a0;
  font-size: 16px;
  padding-bottom: 8px;
}

.ruleState {
    background: #F6F6F6;
    border-left-style: solid;
    border-left-width: .5em;
    border-color: #D0D0D0;
    margin-bottom: 16px;
    padding: 0.5em;
}

.ruleState-header {
  color: #7A7A7A;
  font-size: 16px;
  padding-bottom: 8px;
}


                                            
pre {                                       
    tab-size: 3;                            
    -moz-tab-size: 3;                       
    /* Code for Firefox */                  
    -o-tab-size: 3;                         
}                                           
                                            
pre {                                       
    word-wrap: normal;                      
}                                           
/* example pre taken / adapted from R2RML */
/* and then from www.w3.org/TR/shacl */                                            
pre.shapes,
pre.shacl,
pre.data,
pre.example-rule, 
pre.report,
pre.example-other {
    margin-left: 0;                         
    padding: 0 2em;                         
    margin-top: 1.5em;                      
    padding: 1em;                           
}                                           
                                            
pre.shacl:before,                  
pre.data:before, 
pre.example-rule:before, 
pre.report:before,                 
pre.example-other:before {                  
    background: white;                      
    display: block;                         
    font-family: sans-serif;                
    margin: -1em 0 0.4em -1em;              
    padding: 0.2em 1em;                     
}                                           
                                            
pre.shacl {
    background: #deb;
}
pre.shapes,                                 
pre.shacl,
pre.shacl:before {
    border: 1px solid #779E27;
}
pre.shacl:before {
    color: #779E27;
    content: "SHACL";
    width: 5em;
    font-weight: bold;
}
                                           
pre.data {
  background: #eeb;
}
pre.data,
pre.data:before {
    border: 1px solid #9E9E27;
}
pre.data:before {
    color: #9E9E27;
    content: "Data";
    width: 4em;
    font-weight: bold;
}

pre.report {
    background: #EEDDBB;
}
pre.report,
pre.report:before {
    border: 1px solid #D09F41;   /* border around the report box */
}
pre.report:before {
    color: #D09F41;  /* text color */
    content: "Report";
    width: 4em;
    font-weight: bold;
}


/*TW RULE */
pre.example-rule {                          
    background: #bbd5ee;                    
}                                           
pre.example-rule,                           
pre.example-rule:before {                   
    border: 1px solid #5596d5; /* darker blue */
}                                           
                                            
pre.example-rule:before {
    color: #5596d5;
    content: "Rule";
    width: 4em; 
    font-size:1.1em;
    font-weight:bold;
}                                           

/* END RULE */


pre.example-other {                         
    background: #bed;                       
}                                           
                                            
pre.example-other,                          
pre.example-other:before {                  
    border: 1px solid #ddd;                 
}                                           
                                            
pre.example-other:before {                  
    color: #888;                            
    content: "Example";                     
    width: 13em;                            
}                                           




