---
---

@import "{{ site.theme }}";
/* Formatting of boxes 
   Shapes graph   #DDEEBB green
   data           #EEEEBB olive
   result        #EEDDBB brown
   sparql/text     #DDEEFF blue
   syntax fules   #F6F6F6 grey
 NB: Githubpages not recognizing background: for color.  
*/

.data{
  background:       #EEEEBB; 
  background-color: #EEEEBB; 
}

.shacl{
  background:       #DDEEBB;
  background-color: #DDEEBB;
}  
.result{
 background:       #EEDDBB; 
 background-color: #EEDDBB; 
}

